<!DOCTYPE html>
html(lang="en")
    block head
        include ./elements/head.pug
    body
        block header  
            include ./elements/header.pug

        block main  
            include ./elements/main.pug

        block footer  
            include ./elements/footer.pug
        //- block test
        //-     include ./elements/test.pug
        //- block webdemo
        //-     include ./elements/webdemo.pug
        //- block webxemphim
        //-     include ./elements/webxemphim.pug
        //- block test2  
        //-     include ./elements/test2.pug
    block scripts
        include ./elements/scripts.pug
