block header
    header#header.flex
        #nhaccuatui.flex
            .listchon
                ul.flex
                    li.logo
                        a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/logo_new.png", alt="")
                    li 
                        a(href="") Bài Hát
                        ul.dropdown
                            li
                                h3 
                                    a(href="") VIỆT NAM
                                ul
                                    li 
                                        a(href="") Nhạc Trẻ
                                    li 
                                        a(href="") Trữ Tình
                                    li 
                                        a(href="") Remix Việt
                                    li 
                                        a(href="") Trữ Tình
                                    li 
                                        a(href="") Tiền Chiến
                                    li 
                                        a(href="") Nhạc Trịnh
                                    li 
                                        a(href="") Rock Việt
                                    li 
                                        a(href="") Cách Mạng
                            li
                                h3 
                                    a(href="") ÂU MỸ
                                ul
                                    li 
                                        a(href="") POP
                                    li 
                                        a(href="") Rock
                                    li 
                                        a(href="") Electronica/Dance
                                    li 
                                        a(href="") R&B/HipHop/Rap
                                    li 
                                        a(href="") Blues/Jazz
                                    li 
                                        a(href="") Country
                                    li 
                                        a(href="") Latin
                                    li 
                                        a(href="") Indie
                                    li 
                                        a(href="") Âu Mỹ khác
                            li
                                h3 
                                    a(href="") CHÂU Á
                                ul
                                    li 
                                        a(href="") Nhạc Hàn
                                    li 
                                        a(href="") Nhạc Nhật
                                    li 
                                        a(href="") Nhạc Hoa
                                    li 
                                        a(href="") Nhạc Thái
                            li
                                h3 
                                    a(href="") KHÁC
                                ul
                                    li 
                                        a(href="") Thiếu Nhi
                                    li 
                                        a(href="") Không Lời
                                    li 
                                        a(href="") Beat
                                    li 
                                        a(href="") Thể Loại Khác
                                    li 
                                        a(href="") Tui Hát                
                    li 
                        a(href="") Playlist
                        ul.dropdown
                            li
                                h3 
                                    a(href="") VIỆT NAM
                                ul
                                    li 
                                        a(href="") Nhạc Trẻ
                                    li 
                                        a(href="") Trữ Tình
                                    li 
                                        a(href="") Remix Việt
                                    li 
                                        a(href="") Rap Việt
                                    li 
                                        a(href="") Tiền Chiến
                                    li 
                                        a(href="") Nhạc Trịnh
                                    li 
                                        a(href="") Rock Việt
                                    li 
                                        a(href="") Cách Mạng
                            li
                                h3 
                                    a(href="") ÂU MỸ
                                ul
                                    li 
                                        a(href="") POP
                                    li 
                                        a(href="") Rock
                                    li 
                                        a(href="") Electronica/Dance
                                    li 
                                        a(href="") R&B/HipHop/Rap
                                    li 
                                        a(href="") Blues/Jazz
                                    li 
                                        a(href="") Country
                                    li 
                                        a(href="") Latin
                                    li 
                                        a(href="") Indie
                                    li 
                                        a(href="") Âu Mỹ khác
                            li
                                h3 
                                    a(href="") CHÂU Á
                                ul
                                    li 
                                        a(href="") Nhạc Hàn
                                    li 
                                        a(href="") Nhạc Nhật
                                    li 
                                        a(href="") Nhạc Hoa
                                    li 
                                        a(href="") Nhạc Thái
                            li
                                h3 
                                    a(href="") KHÁC
                                ul
                                    li 
                                        a(href="") Thiếu Nhi
                                    li 
                                        a(href="") Không Lời
                                    li 
                                        a(href="") Beat
                                    li 
                                        a(href="") Thể Loại Khác
                                    li 
                                        a(href="") Tui Hát  
                    li 
                        a(href="") Tuyển Tập
                        ul.dropdown
                            li
                                h3 
                                    a(href="") Thể Loại
                                ul
                                    li 
                                        a(href="") Nhạc Trẻ
                                    li 
                                        a(href="") Trữ Tình
                                    li 
                                        a(href="") Pop
                                    li 
                                        a(href="") Nhạc Hàn
                                    li 
                                        a(href="") Nhạc Hoa
                                    li 
                                        a(href="") Soundtrack
                                    li 
                                        a(href="") Không Lời
                            li
                                h3 
                                    a(href="") Tâm Trạng
                                ul
                                    li 
                                        a(href="") Buồn
                                    li 
                                        a(href="") Hưng Phấn
                                    li 
                                        a(href="") Nhạy Cảm
                                    li 
                                        a(href="") Nhớ nhung
                                    li 
                                        a(href="") Thất Tình
                                    li 
                                        a(href="") Thư Giãn
                                    li 
                                        a(href="") Vui Vẻ
                            li
                                h3 
                                    a(href="") Khung Cảnh
                                ul
                                    li 
                                        a(href="") Cafe
                                    li 
                                        a(href="") Bar - Club
                                    li 
                                        a(href="") Phòng Trà
                                    li 
                                        a(href="") Tắm - Bơi Lội
                                    li 
                                        a(href="") Tập Gym
                                    li 
                                        a(href="") Lãng Mạng
                                    li 
                                        a(href="") Mưa
                            li
                                h3 
                                    a(href="") Chủ Đề
                                ul
                                    li 
                                        a(href="") Tình Yêu
                                    li 
                                        a(href="") Top 100
                                    li 
                                        a(href="") Weekend
                                    li 
                                        a(href="") Chill Out
                                    li 
                                        a(href="") Bất Hủ
                                    li 
                                        a(href="") Song Ca
                                    li 
                                        a(href="") Mashup

                    li 
                        a(href="") Video
                        ul.dropdown
                            li
                                h3 
                                    a(href="") VIỆT NAM
                                ul
                                    li 
                                        a(href="") Nhạc Trẻ
                                    li 
                                        a(href="") Trữ Tình
                                    li 
                                        a(href="") Cách Mạng
                                    li 
                                        a(href="") Rap Việt
                                    li 
                                        a(href="") Rock Việt
                            li
                                h3 
                                    a(href="") ÂU MỸ
                                ul
                                    li 
                                        a(href="") POP
                                    li 
                                        a(href="") Rock
                                    li 
                                        a(href="") Electronica/Dance
                                    li 
                                        a(href="") R&B/HipHop/Rap
                                    li 
                                        a(href="") Blues/Jazz
                                    li 
                                        a(href="") Country
                                    li 
                                        a(href="") Latin
                                    li 
                                        a(href="") Indie
                                    li 
                                        a(href="") Âu Mỹ khác
                            li
                                h3 
                                    a(href="") CHÂU Á
                                ul
                                    li 
                                        a(href="") Nhạc Hàn
                                    li 
                                        a(href="") Nhạc Nhật
                                    li 
                                        a(href="") Nhạc Hoa
                                    li 
                                        a(href="") Nhạc Thái
                            li
                                h3 
                                    a(href="") KARAOKE
                                ul
                                    li 
                                        a(href="") Nhạc Trẻ
                                    li 
                                        a(href="") Trữ Tình
                                    li 
                                        a(href="") Remix Việt
                                    li 
                                        a(href="") Thiếu Nhi
                                    li 
                                        a(href="") Âu Mỹ
                                    li 
                                        a(href="") Thể Loại Khác    
                            li            
                                h3 
                                    a(href="") KHÁC
                                ul
                                    li 
                                        a(href="") Clip Vui
                                    li 
                                        a(href="") Hài Kịch
                                    li 
                                        a(href="") Thiếu Nhi
                                    li 
                                        a(href="") Âu Mỹ
                                    li 
                                        a(href="") Thể Loại Khác
                                    li 
                                        a(href="") Giải Trí Khác
                                    li 
                                        a(href="") Phim Việt Nam            
                    
                    li 
                        a(href="") BXH
                        ul.dropdown
                            li
                                ul
                                    li 
                                        a(href="") Việt Nam
                                    li 
                                        a(href="") Âu Mỹ
                                    li 
                                        a(href="") Hàn Quốc
                    li 
                        a(href="") Chủ Đề
                        ul.dropdown
                            li
                                ul
                                    li 
                                        a(href="") Nhạc Xuân 2019
                                    li 
                                        a(href="") Tình Yêu
                                    li 
                                        a(href="") The Best 2018
                                    li 
                                        a(href="") Bất Hủ Ây Mỹ
                                    li 
                                        a(href="") Mushup & Cover
                                    li 
                                        a(href="") Wedding
                                    li 
                                        a(href="") Nhạc Thiếu Nhi
                            li
                                ul
                                    li 
                                        a(href="") Cill Out
                                    li 
                                        a(href="") EDM
                                    li 
                                        a(href="") Nhạc Hot
                                    li 
                                        a(href="") Nhạc Hoa Lời Việt
                                    li 
                                        a(href="") Coffee
                                    li 
                                        a(href="") Nhạc Phim
                                    li 
                                        a(href="") Nhạc Buồn
                            li
                                ul
                                    li 
                                        a(href="") Acoustic
                                    li 
                                        a(href="") Hải Ngoại
                                    li 
                                        a(href="") Remix Việt
                                    li 
                                        a(href="") Nhạc Việt Bất Hủ
                                    li 
                                        a(href="") Gym
                                    li 
                                        a(href="") Bolero
                                    li 
                                        a(href="") Piano
                    li 
                        a(href="") Top 100
                        ul.dropdown
                            li
                                ul
                                    li 
                                        a(href="") Việt Nam
                                    li 
                                        a(href="") Âu Mỹ
                                    li 
                                        a(href="") Châu Á
                                    li 
                                        a(href="") Không Lời
                    li 
                        a(href="") Nghệ sĩ
                    li
                        a(href="") ...
                        ul.dropdown
                            li
                                ul
                                    li 
                                        a(href="") Sự Kiện - TV
                                    li 
                                        a(href="") Tin Tức Âm Nhạc
            .TaiKhoan
                .avatar
                    img(src="https://stc-id.nixcdn.com/v11/images/header_new/avartar_none_login.png", alt="")
                    ul.dropdown
                        li
                            a(href="") Đăng Ký
                        li
                            a(href="") Đăng Nhập
            .item
                ul.flex
                    li
                        a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_VIP_new.png", alt="")    
                    li
                        a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_head_new_hover.png", alt="")    
                    li
                        a(href=""): img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_upload_new.png", alt="")    

            .searchBox
                ul.flex
                    li
                        .nhapvao
                            input(type="text" placeholder="Tìm bài hát")
                    li
                        .searchIcon
                            a(href="") 
                                img(src="https://stc-id.nixcdn.com/v11/images/header_new/ic_search_new.png", alt="")
    hr
                               