block main
    #main





    
        //- .content
        //-     .ChuDe.flex
        //-         .contentRight
        //-             .nghegihomnay
        //-                 h2 NGHE GÌ HÔM NAY >
        //-                 ul.nhac.flex
        //-                     li
        //-                         a(href="")
        //-                             img(src="https://avatar-nct.nixcdn.com/playlist/2018/08/09/a/2/3/f/1533801734525_300.jpg", alt="")
        //-                             .bongmo
        //-                             span.luotnghe
        //-                                 span.icon
        //-                                 span.NCTcouter
        //-                         p Những ca khúc Acoustic V-pop hay nhất
        //-                     li
        //-                         a(href="")
        //-                             img(src="https://avatar-nct.nixcdn.com/playlist/2018/08/23/1/3/d/d/1534992044453_300.jpg", alt="")
        //-                             .bongmo
        //-                         p Trái Tim Này Chẳng Thể Nghỉ Ngơi
        //-                     li
        //-                         a(href="")
        //-                             img(src="https://avatar-nct.nixcdn.com/playlist/2018/10/30/c/e/2/0/1540871342113_300.jpg", alt="")
        //-                             .bongmo
        //-                         p Chẳng Biết Sao Anh Cứ Hoài Nhớ Em
        //-                     li
        //-                         a(href="")
        //-                             img(src="https://avatar-nct.nixcdn.com/playlist/2018/08/28/7/5/c/3/1535450091827_300.jpg", alt="")
        //-                             .bongmo
        //-                         p 50 Bản Tình Ca Hay Nhất Mọi Thời Đại
        //-                     li
        //-                         a(href="")
        //-                             img(src="https://avatar-nct.nixcdn.com/playlist/2018/12/07/2/d/6/0/1544167258160_300.jpg", alt="")
        //-                             .bongmo
        //-                         p Tình Yêu Trả Lại Sao Trăng
                    
        //-         .contentLeft
