block test
    //- #test
    //-     .container
    //-         img(src="https://picsum.photos/250/200?random", alt="")
    //-         img(src="https://picsum.photos/250/202?random", alt="")
    //-         img(src="https://picsum.photos/250/200?random", alt="")
    //-         img(src="https://picsum.photos/250/202?random", alt="")
    //-         img(src="https://picsum.photos/250/200?random", alt="")
    //-         img(src="https://picsum.photos/250/202?random", alt="")
    //- //- .slider
    //-     //-     span.next: p next
    //-     //-       span.back: p back
    .container
        ul
            li
                a(href="") xem phim
                    span.row.fas.fa-chevron-down
                        ul.dropdown
                            li
                                a(href="") anime
                            li
                                a(href="") anime
                            li
                                a(href="") anime