block test2
    #test2
        .list-tabs   
            ul
                li
                    a(href="") Việt Nam
                li
                    a(href="") Âu Mỹ
                li
                    a(href="") Hàn Quốc
        .tab-content
            .tab.VietNam.active
                .big-item.flex
                    a(href="").active: img(src="https://picsum.photos/200/300/?random", alt="")
                    .detail
                        h2: a(href="") Tên bài hát
                        h2: a(href="") Tên ca sĩ
            .tab.AuMy.active
                .big-item.flex
                    a(href="").active: img(src="https://picsum.photos/200/300/?random", alt="")
                    .detail
                        h2: a(href="") Tên bài hát2
                        h2: a(href="") Tên ca sĩ
            .tab.HanQuoc.active
                .big-item.flex
                    a(href="").active: img(src="https://picsum.photos/200/300/?random", alt="")
                    .detail
                        h2: a(href="") Tên bài hát3
                        h2: a(href="") Tên ca sĩ