block webxemphim
    header#header
        .container.flex
            .logo
                img(src="https://picsum.photos/200/300/?random", alt="")
                h3 Phimmoi.net
            .menu.flex
                .line
                .search
                    input(type="text" placeholder="search")
                    .fas.fa-search
    #main.flex
        .listmenu
            ul
                li
                    a(href="") XEM PHIM
                        span.row.fas.fa-chevron-down
                    ul.dropdown
                        li
                            a(href="") xem phim 1
                        li    
                            a(href="") xem phim 2
                        li
                            a(href="") xem phim 3
                li
                    a(href="") XEM TV
                        span.row.fas.fa-chevron-down
                    ul.dropdown
                        li
                            a(href="") VTV 1
                        li
                            a(href="") VTV 2
                        li
                            a(href="") VTV 3
                li
                    a(href="") LẤY LINK
                li
                    a(href="") TÌM LINK
        .listphim
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới
            .item
                img(src="https://picsum.photos/200/200/?random", alt="")
                a(href="") Phim Mới